# GroupBy

### 简介：

GroupBy（分组操作）可以概括为"拆分-应用-合并"三个步骤。

特别鸣谢：https://github.com/justmarkham 提供数据集和相关材料。

查看这张[示意图](http://i.imgur.com/yjNkiwL.png)  
### 第一步：导入必要的库

（注：翻译说明：
1. 专业术语"GroupBy"首次出现时保留英文并添加中文注释"分组操作"
2. "Split-Apply-Combine"采用意译为"拆分-应用-合并"，更符合中文技术文档表述习惯
3. 链接和代码格式完全保留原样
4. "Special thanks to"译为"特别鸣谢"，比直译"特别感谢"更符合中文技术文档的致谢用语
5. "Check out"译为"查看"而非直译"检查"，更符合中文阅读习惯）

### 第二步：从该[地址](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv)导入数据集。

### 步骤3. 将其赋值给名为 drinks 的变量

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### 步骤4. 哪个大洲的人均啤酒消费量更高？

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

### 步骤5. 为每个大洲打印葡萄酒消费统计数据

continent
AF         count     53.000000
           mean      16.264151
           std       38.846419
           min        0.000000
           25%        1.000000
           50%        2.000000
           75%       13.000000
           max      233.000000
AS         count     44.000000
           mean       9.068182
           std       21.667034
           min        0.000000
           25%        0.000000
           50%        1.000000
           75%        8.000000
           max      123.000000
EU         count     45.000000
           mean     142.222222
           std       97.421738
           min        0.000000
           25%       59.000000
           50%      128.000000
           75%      195.000000
           max      370.000000
OC         count     16.000000
           mean      35.625000
           std       64.555790
           min        0.000000
           25%        1.000000
           50%        8.500000
           75%       23.250000
           max      212.000000
SA         count     12.000000
           mean      62.416667
           std       88.620189
           min        1.000000
           25%        3.000000
           50%       12.000000
           75%       98.500000
           max      221.000000
dtype: float64

### 步骤6. 打印每个大洲各列的平均酒精消费量

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### 步骤7. 打印每个大洲在各列上的酒精消费量中位数

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### 步骤8. 打印烈酒消费的平均值、最小值和最大值
#### 本次输出一个DataFrame（数据框）

（说明：翻译说明：
1. "Step 8"译为"步骤8"，符合中文技术文档的编号习惯
2. "spirit consumption"译为"烈酒消费"，在数据分析场景下更准确
3. 保留了"DataFrame"专业术语并添加了中文注释"数据框"，符合技术文档翻译规范
4. 完全保持了原有的Markdown标题格式和层级结构
5. "This time"译为"本次"，更符合中文技术文档的简洁表达）

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302