# Pokemon

### 简介：

这次你将负责创建数据。

### 步骤2. 创建数据字典（data dictionary）

### 步骤3. 将其赋值给名为pokemon的变量

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### 步骤4. 哎呀...看起来DataFrame的列是按字母顺序排列的。请将列的顺序调整为：name, type, hp, evolution, pokedex

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### 步骤5. 添加一个名为place的列，并填入你想到的内容

         name   type  hp   evolution pokedex   place
0   Bulbasaur  grass  45     Ivysaur     yes    park
1  Charmander   fire  39  Charmeleon      no  street
2    Squirtle  water  44   Wartortle     yes    lake
3    Caterpie    bug  45     Metapod      no  forest

### 步骤6. 展示每列的数据类型

name         object
type         object
hp            int64
evolution    object
pokedex      object
dtype: object

### 附加题：自拟问题并作答